Variable

In [2]:
my_variable = 10

String formatting

In [4]:
name = "John"
age = 30
message = "My name is " + name + " and I am " + str(age) + " years old."
message

'My name is John and I am 30 years old.'

In [7]:
name = "John"
age = 30
message = "My name is %s and I am %d years old." % (name, age)
message

'My name is John and I am 30 years old.'

In [8]:
name = "John"
age = 30
message = "My name is {} and I am {} years old.".format(name, age)
message

'My name is John and I am 30 years old.'

In [10]:
name = "John"
age = 30
message = f"My name is {name} and I am {age} years old."
message

'My name is John and I am 30 years old.'

Data Structures

In [11]:
my_list = [1, 2, 3, "apple", "banana", "cherry"]
print(my_list[0])  # prints 1
print(my_list[3])  # prints "apple"
print(my_list[-1])  # prints "cherry"
print(my_list[-3])  # prints "apple"

1
apple
cherry
apple

In [13]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:4]  # returns [2, 3, 4]
sub_list

[2, 3, 4]

In [15]:
my_tuple = (1, 2, 3, "apple", "banana", "cherry")
print(my_tuple[0])  # prints 1
print(my_tuple[3])  # prints "apple"
my_tuple[0] = 4  # raises TypeError: 'tuple' object does not support item assignment

1
apple

TypeError: 'tuple' object does not support item assignment

In [16]:
def get_name_and_age():
    name = "John"
    age = 30
    return name, age

result = get_name_and_age()
print(result)  # prints ("John", 30)

('John', 30)

In [17]:
my_set = {1, 2, 3, 4, 4, 5}
my_list = [1, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)  # prints {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [18]:
my_dict = {"apple": 2, "banana": 3, "cherry": 5}
print(my_dict["apple"])  # prints 2
my_dict["orange"] = 4
my_dict["banana"] = 6
del my_dict["cherry"]

2

Function

In [19]:
def greet(name):
    print("Hello, " + name + "!")

In [20]:
greet("Alice")  # prints "Hello, Alice!"

Hello, Alice!

In [21]:
def calculate_sum(a, b=0):
    return a + b

In [22]:
print(calculate_sum(5))  # prints 5
print(calculate_sum(5, 10))  # prints 15

5
15

In [23]:
def calculate_product(a, b):
    return a * b

In [24]:
result = calculate_product(3, 4)
print(result)  # prints 12

12

Conditionals

In [25]:
x = 5
if x > 0:
    print("x is positive")

x is positive

In [26]:
x = -3
if x > 0:
    print("x is positive")
else:
    print("x is non-positive")

x is non-positive

In [27]:
x = 0
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

In [28]:
x = 10
if x > 0 and x < 100:
    print("x is a positive two-digit number")

x is a positive two-digit number

Loops

In [29]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [30]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [31]:
for i in range(10):
    if i == 5:
        break
    elif i % 2 == 0:
        continue
    print(i)

1
3

In [32]:
import math

print(math.sqrt(25))  # prints 5.0
print(math.sin(math.pi / 2))  # prints 1.0

5.0
1.0

In [33]:
from math import sqrt, pi

print(sqrt(25))  # prints 5.0
print(pi)  # prints 3.141592653589793

5.0
3.141592653589793

In [34]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def say_hello(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

In [35]:
person1 = Person("Alice", 25)
person2 = Person("Bob", 30)

In [36]:
person1.say_hello()  # prints "Hello, my name is Alice and I am 25 years old."
person2.say_hello()  # prints "Hello, my name is Bob and I am 30 years old."

Hello, my name is Alice and I am 25 years old.
Hello, my name is Bob and I am 30 years old.